@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl my-4 text-dark-100;
  }
  h2 {
    @apply text-2xl mb-4 mt-8 text-dark-100;
  }
  h3 {
    @apply text-xl mb-4 mt-8 text-dark-100;
  }
  em {
    @apply text-dark-100;
  }
  p{
    @apply text-lg my-4;
  }
  pre {
    @apply text-lg my-6;
  }
  a {
    @apply text-highlight underline underline-offset-8;
  }
  ul {
    @apply my-4;
  }
  ul li {
    @apply ml-4 list-disc my-2;
  }
  main p img {
    @apply my-8 rounded-lg ring-highlight ring-8 ring-opacity-60
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}